<!DOCTYPE html>

<html>
<head>
    <link href="~/css/AdminStyles.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>zdarova</div>   
    <div>
        @RenderBody()
    </div>
    <div class="my">sdfdsf</div>
</body>
</html>
