
@{
    Layout = Layout;
    ViewBag.Title = "ITlab Одесса - полная новость";

}



<head>

    <!-- LINK styles -->
    <link rel="stylesheet" type="text/css" href="~/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="~/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">


</head>

<main>
    <section id="mainNewsBlock">
        <div class="filter">
            <div class="prev-lab">
                <div class="prev-lab-news">
                    <h1>Некст профориентация на<br> Морвокзале</h1>
                    <p>
                        Подпишитесь на рассылку — оставайтесь в курсе
                        <br>новостей <span>IT Lab Odessa</span>
                    </p>
                    <input id="subEmail" type="email" placeholder="E-mail">
                    <button id="subscribe_on_news">Подписаться</button>
                    <br>
                </div>
                <img src="~/images/arrowDown.png" class="animated infinite pulse delay-.7s" onclick="toElem(news_block)">
            </div>
        </div>
    </section>
    <section id="news_block">
        <div class="news_block_wrapper">
            <div id="basic_news"></div>

            <div id="videos"></div>

            <div id="photos"></div>

            <div id="additional_news"></div>

            <hr>
            <div class="news_footer">
                <ul id="estimate">
                    <li data-val="1">✩</li>
                    <li data-val="2">✩</li>
                    <li data-val="3">✩</li>
                    <li data-val="4">✩</li>
                    <li data-val="5">✩</li>
                </ul>

                <ul class="news_soc">
                    <li><a href="#"><img src="~/images/news_fb.png"></a></li>
                    <li><a href="#"><img src="~/images/news_tg.png"></a></li>
                    <li><a href="#"><img src="~/images/news_inst.png"></a></li>
                    <li><a href="#"><img src="~/images/news_viber.png"></a></li>
                </ul>

                <div id="comments"></div>

                <div class="comment_block">
                    <div class="news_comments">
                        <p>Посмотреть предыдущие комментарии (5)</p>
                    </div>
                    <div class="new_comment">
                        <div class="comment_avatar">
                            <img src="https://www.w3schools.com/images/colorpicker.gif">
                        </div>
                        <textarea class="send_news_comment_area"></textarea>
                        <div id="send_news_comment"></div>

                    </div>

                    <div id="comments_block"> </div>
                </div>

            </div>
        </div>
    </section>
    <h3 class="same_news">Похожие материалы</h3>
    <section id="fullNews_shortNews_block"></section>
</main>

<!--JS LINKS-->

<script src="~/js/renderers/shortNews.js"></script>
<script src="~/js/fullNews.js"></script>
<script src="~/js/main.js"></script>



